<div class="container-fluid private-list-container bg">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <h1 class="page-title">Private List</h1>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="privateList.length > 0">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let movie of privateList">
      <div class="card mb-4 shadow-lg glass-card">
        <img
          [src]="
            movie.Poster !== 'N/A' ? movie.Poster : 'assets/imageNotFound.png'
          "
          class="card-img-top"
          alt="Movie Poster"
        />
        <div class="card-body fixed-height">
          <h5 class="card-title">{{ movie.Title }}</h5>
          <p class="card-text">
            <small class="text-muted"
              >{{ movie.Year }} •
              <strong>{{ movie.imdbRating }}/10</strong></small
            >
          </p>
          <div class="d-flex justify-content-between align-items-center mt-3 gap-2">
            <button
              class="btn btn-primary details-btn"
              [routerLink]="['/moviedetails', movie.imdbID]"
            >
              Details
            </button>
            <button
              class="btn btn-danger"
              (click)="removeFromPrivateList(movie)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show a message if no movies found -->
  <div class="text-center mt-5" *ngIf="privateList.length === 0">
    <p>No movies found</p>
  </div>
  <button class="btn btn-success back-home-btn" routerLink="/home">
    <i class="bi bi-arrow-left-circle"></i> Back to Home
  </button>
</div>
