.bg {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  position: relative;
  background-image: url(../../assets/bg.jpg);
}

.private-list-container {
  background: url('../../assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.back-home-btn {
  font-size: 1.25rem;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  position: fixed;
  top: 10px;
  right: 10px;
}

.back-home-btn:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.card {
  transition: transform 0.2s;
  height: 600px; /* Set a fixed height for the card */
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 400px; /* Adjust the height of the image to fit within the card */
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 200px); /* Adjust the height to fit the content */
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff; /* Ensuring the text is white for better visibility */
  text-align: center;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #d4d4d4; /* Light grey color for visibility */
  text-align: center;
}

.fixed-height {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-center {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

.details-btn {
  background-color: #1db954;
  border: none;
  color: white;
  border-radius: 15px;
  width: 100%;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #1ed760;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.d-flex.gap-2 > * {
  margin: 0 0.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card-img-top {
    border-radius: 15px 15px 0 0;
  }

  .back-home-btn {
    font-size: 0.8rem;
    padding: 0px;
    width: 90px;
    border-radius: 8px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.8rem;
  }
}
