body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  position: relative;
}

.container {
  margin-top: 20px;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.back-home-btn {
  font-size: 1.25rem;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  position: fixed;
  top: 10px;
  right: 10px;
}

.back-home-btn:hover {
  background-color: #1ed760;
  transform: translateY(-2px);
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none;
  height: auto;
  color: #333;
  border-radius: 15px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1db954;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.playlist-container {
  display: flex;
  justify-content: center;
}

.playlist-select {
  margin-top: 10px;
  padding: 15px 10p 10px 10px;
  font-size: 1.5rem;
  width: 100%;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  appearance: none;
}

.playlist-select option {
  background-color: #1db954;
  color: #fff;
}

.shadow-lg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card-img {
    border-radius: 15px 15px 0 0;
  }

  .back-home-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .page-title {
    font-size: 1.5rem;
  }
}
