<div class="bg">
<div class="container">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <h1 class="page-title">Movie Details</h1>
    </div>
  </div>
  <div class="container d-flex justify-content-center position-relative">
    <div class="card movie-details-card shadow-lg">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            [src]="
              movie.Poster !== 'N/A' ? movie.Poster : 'assets/imageNotFound.png'
            "
            class="card-img"
            alt="Poster"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">{{ movie.Title }} ({{ movie.Year }})</h2>
            <p class="card-text">{{ movie.Plot }}</p>
            <p class="card-text">
              <strong>Director:</strong> {{ movie.Director }}
            </p>
            <p class="card-text">
              <strong>Writers:</strong> {{ movie.Writer }}
            </p>
            <p class="card-text">
              <strong>Actors:</strong> {{ movie.Actors }}
            </p>
            <p class="card-text">
              <strong>Genre:</strong> {{ movie.Genre }}
            </p>
            <p class="card-text">
              <strong>Release Date:</strong> {{ movie.Released }}
            </p>
            <p class="card-text">
              <strong>Runtime:</strong> {{ movie.Runtime }}
            </p>
            <p class="card-text">
              <strong>Rating:</strong> {{ movie.imdbRating }}/10
            </p>
            <div class="playlist-container">
              <select
                class="form-control playlist-select"
                (change)="onSelectChange($event)"
              >
                <option value="" selected>Add to Playlist</option>
                <option value="public">Public List</option>
                <option value="private">Private List</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success back-home-btn" routerLink="/home">
    <i class="bi bi-arrow-left-circle"></i> Back to Home
  </button>
</div>
</div>