.custom-navbar {
  background-color: #343a40; /* Dark background color */
  color: white; /* White text color */

  .navbar-brand,
  .nav-link {
    color: white !important; /* Ensure links are white */
  }

  .nav-link:hover {
    color: #d4d4d4 !important; /* Lighter color on hover */
  }

  .navbar-toggler {
    border-color: white; /* White border for the toggler */
  }

  .bi-list {
    color: white; /* Ensure the toggler icon is white */
  }

  .navbar-text {
    color: #00acc1; /* Cyan color for user welcome text */
    font-weight: bold;
  }

  .btn-danger {
    background-color: #ff5252; /* Red logout button */
  }
}

.hero-section {
  background: url('../../assets/bg3.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  .hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;

    h1 {
      font-size: 4rem;
      margin-bottom: 20px;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
      font-size: 1.5rem;
      color: #d4d4d4;
    }
  }
}

.movie-container {
  background: url('../../assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; /* Ensures the container takes full viewport height */
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-info {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.fixed-card-size {
  width: 100%;
  max-width: 350px;
  height: 500px;
  margin: auto; /* Center the card horizontally */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
  transition: transform 0.2s ease-in-out; /* Add a smooth transformation effect */
}

.fixed-card-size:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.card-img-top {
  height: 300px; /* Fix the height of the image */
  object-fit: cover; /* Ensures the image covers the area */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #d4d4d4;
  text-align: center;
}

.details-btn {
  background-color: #1db954; /* Custom button color */
  border: none;
  color: white;
  border-radius: 15px;
  width: 100%; /* Make button full width */
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  text-align: center; /* Center text */
}

.details-btn:hover {
  background-color: #1ed760;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-movies {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .center-message {
    font-size: 1.5rem; /* Adjust the font size as needed */
    color: #ffffff;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-section {
    height: 92vh;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .fixed-card-size {
    height: auto;
  }

  .card-img-top {
    object-fit: contain;
    // height: 200px;
    width: 100%;
  }

  .navbar-text {
    display: none; /* Hide the welcome text on small screens */
  }

  .navbar-collapse {
    background: rgba(52, 58, 64, 0.9); /* Add background to collapse menu */
    padding: 10px;
  }
}
