<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Full Name</label>
      <input
        type="text"
        formControlName="fullName"
        id="form2Example1"
        class="form-control"
        required
      />
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Email address</label>
      <input
        type="email"
        formControlName="email"
        id="form2Example1"
        class="form-control"
        required
      />
    </div>

    <!--User Name-->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example1">User Name</label>
      <input
        type="text"
        formControlName="userName"
        id="form2Example1"
        class="form-control"
        required
      />
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input
        type="password"
        formControlName="password"
        id="form2Example2"
        class="form-control"
        required
      />
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        id="form2Example2"
        class="form-control"
        required
      />
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-primary btn-block mb-4"
    >
      Register
    </button>
  </form>
  <!-- Register buttons -->
  <div class="text-center">
    <p>Already Registered? <a routerLink="/signin">Sign In</a></p>
  </div>
</div>
